<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         bootstrap="vendor/autoload.php">

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/DependencyInjection</directory>
            <directory>src/Exception</directory>
            <directory>src/Resources</directory>
            <directory suffix="Bundle.php">src/*</directory>
        </exclude>
        <report>
            <clover outputFile="./reports/clover.xml"/>
            <html outputDirectory="./reports" highLowerBound="90"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="VysokeSkoly/LoggingBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="./reports/junit.xml"/>
    </logging>

    <php>
        <!-- E_ALL = 30719 -->
        <ini name="error_reporting" value="30719"/>
    </php>
</phpunit>
